.divPadre{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;

}
.divContenedor{
    margin-top: 4rem;
    background-color: antiquewhite;
    width:50%;

}

