.general > div {
    background: rgb(255, 255, 255);
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;


}
.general2 > div {
    background: rgb(255, 255, 255);
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;


}
.general {
    display: flex;
    flex-direction: column;
    width: 4%;
    height: 7%;
    background: transparent;
    gap: 33%;
    position: fixed;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
    z-index: 1;
}
.general:hover  div{
    transform: scale(1.1);
}
.general2{

    display: flex;
    flex-direction: column;
    width: 4.5%;
    height: 7%;
    background: transparent;
    gap: 33%;
    position: fixed;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
    z-index: 1;
}

.general2:hover div:first-child{
    transform: scale(1);
    transform: rotate(45deg);
}

.general2:hover div:nth-child(2){
    opacity: 0;
}
.general2:hover div:last-child{
    transform: scale(1);
    transform: rotate(-45deg);
}