
.DivSearchbar{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: transparent ;
    align-items: center;
    gap: 2%;
    position: fixed;
    left: 45%;
    transform: translateX(-40%);
    z-index: 8;
    height: 12%;
    animation: aparecer .1s ease;
    overflow: hidden;
}
.btn {
    font-size: 120%;
    background-color: rgba(128, 128, 128, 0.247);
    border: dotted ;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.719);
    

}

.btn:hover{
    cursor:pointer;
    font-style: italic;
    transition-property: background-color ;
    background-color: rgba(255, 255, 255, 0.644);
    transition-duration: .3s;
}

.boton{
    font-size: 120%;
    background-color: rgba(128, 128, 128, 0.247);
    border: dotted ;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.658);
    

}

.boton:hover{
    cursor:pointer;
    font-style: italic;
    transition-property: background-color ;
    background-color: rgba(255, 255, 255, 0.397);
    transition-duration: .3s;
}

.botonDark{
font-size: 120%;
    background-color: rgba(0, 0, 0, 0.986);
    border: dotted ;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.658);

    
}
.botonDark:hover{
    cursor:pointer;
    font-style: italic;
    transition-property: background-color ;
    background-color: rgb(58, 48, 48);
    transition-duration: .3s;
    z-index: 10;
}
.input{
    border:ridge (240, 248, 255, 0.41);;
    background-color: rgba(34, 33, 31, 0.425);
    border-radius: 5px;
    width: 40%;
    color:rgba(240, 248, 255, 0.658)

}

.divAl{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 2%;
    justify-content: flex-end;
    animation: aparecer .5s ease;
}


@keyframes aparecer {
    0% {
        opacity: 0;
        transform: rotateY(0%);
    }
    100% {
      opacity: 1;
        transform: rotateY(100%);
    }
  }
  
